.container-banderas{
    width: 87%;
    display: flex;
    justify-content: right;
}

.banderas{
    width: 3rem;
    object-fit: cover;
}

.offcanvas-title{
    width: 100%;
    text-align: center;
}

.nav-link:hover{
    /* background-color: #b15445; */
    background: #e13a4b;
}

@media (max-width: 768px) {
    .container-banderas{
        width: 52%;
    }
}