main{
    background: linear-gradient(327deg,rgba(8, 0, 0, 1) 0%, rgba(4, 42, 71, 1) 36%, rgba(1, 13, 13, 1) 100%);
    color: #fff;
}

.icono-nombres {
    font-size: .9rem;
}

#Skills{
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skills-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
}

.skills{
    outline: 5px inset #02ffdd;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgb(2, 219, 12);
    transition: all 0.2s ease-in-out;
    background-color: #222222;
}


.skills:hover{
    transform: scale(1.2);
}



.skills-list{
    display: flex;
    min-width: 20rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icono-nombre{
    flex: 1;
    transition: all .1s ease-in-out;
}

.icono-nombre:hover{
    transform: translateY(-15px);
    scale: 1.1;
}



.icono{
    animation: iconos .7s ease-in-out infinite alternate-reverse;
    
}

@keyframes iconos {
    from{
      opacity: 0;
      filter: brightness(1);
    }
    to{
      opacity: 1;
      filter: brightness(2);
    }
}



/** Celular  */
@media (max-width: 768px) {
    

    #Skills{
        padding-top: 2rem;
        padding-bottom: 20rem;
    }

    .skills-container{
        margin-top: -4rem;
    }

    .skills{
        margin-bottom: 2rem;
    }

    .skills-list{
        min-width: 250px;
    }

    .icono-nombres {
        font-size: .6rem;
    }

}