main{
    background-image: linear-gradient(to bottom, #7d5367, #6f4c64, #614560, #523f5c, #433956);
    color: #fff;
}


#Skills{
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.skills-title{
    text-align: center;
    margin-bottom: 5rem;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;;
}

.skills{
    background-color: #002b47;
    padding: 2rem;
    border-radius: 1rem;
}

.skills-list{
    display: flex;
    min-width: 250px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

