
.projects{
  margin-bottom: 8rem;
}

.projects-title{
  padding: 50px 0px;
  margin-top: 50px;
}

.hola{
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 15px black;
}

.chau{
  width: 200px;
  height: 250px;
  border-radius: 20px;
}


article{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

/** Celulares */

@media (max-width: 768px) {
  .projects-title{
    font-size: 3rem;
  }

  .hola{
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 0 15px black;
}

.chau{
  width: 90%;
  height: 250px;
  border-radius: 20px;
}
}