.form-container{
    width: 22rem;
    height: 18rem;
    padding-left: 20rem;
    padding-right: 20rem;
    margin-bottom: 12rem;
    background-color: #002b47;
    border-radius: 1rem;
}



.container-formulario{
    width: 100%;
    height: 55rem;
    margin-top: 10rem;
}