
.container-about-me{
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #002b47;
}
.title-about{
    margin: 5rem;
    text-align: center;
}

.container-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-about-text{
    width: 50%;
}


.img-about{
    width: 250px;
    height: 250px;
}

.text-about{
    list-style: none;
    text-align: start;
}