

.container-about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    
}
.title-about{
    text-align: center;
}

.container-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-about-text{
    width: 50%;
}


.img-about{
    width: 250px;
    height: 250px;
    border-radius: 20px;

}

.text-about{
    list-style: none;
    text-align: start;
}


/** ANIMACIONES */

/** Celulares  */
@media (max-width: 768px) {


    .title-about{
        font-size: 3rem       
    }

    .container-about-text{
        width: 90%;
        padding: 1rem;
    }

    .about-title{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem; 
    }

    .about-parrafo{
        font-size: 1.2rem;
    }

    .text-about{
        font-size: 1.1rem;
        max-width: 100%;
    }
}